/*============ REFERENCES =============*/

@import 'mixins'

/** Colors **/

$white: #FFFFFF
$black: #000000
$color_grey: #EAEAEA
$color_green: #8DBD4F
$color_rose: #A45339
$color_milk: #FDFBF7

/** Fonts **/

@font-face
  font-family: 'Roboto-Regular'
  src: url('../fonts/Roboto-Regular.ttf')
  font-weight: normal
  font-style: normal

$f_Roboto-Regular: 'Roboto-Regular', 'Arial', sans-serif

@font-face
  font-family: 'Roboto-Light'
  src: url('../fonts/Roboto-Light.ttf')
  font-weight: normal
  font-style: normal

$f_Roboto-Light: 'Roboto-Light', 'Arial', sans-serif


*
  box-sizing: border-box

html, body
  min-width: 320px
  padding: 0
  margin: 0
  scroll-behavior: smooth

h1,h2,h3,h4,h5,h6
  padding: 0
  margin: 0

p
  padding: 0
  margin: 0

a
  text-decoration: none

input
  outline: none
  border: none

ul
  padding: 0
  margin: 0
  list-style: none

.container
  width: 100%
  max-width: 1740px
  @include media(1220px)
    margin: 0 auto
    width: 1200px
  @include media(1440px)
    margin: 0 auto
    width: 1440px
  @include media(1920px)
    margin: 0 auto
    width: 1720px

.section__wrapper
  padding: 0 0 30px 0
  background: url("../img/bck.jpg") center no-repeat
  background-size: cover
  @include media(1300px)
    padding: 0
  @include media(1440px)
    padding: 0

.section__overflow
  overflow: hidden

.text__green
  color: $color_green

.btn__green
  transition: .3s ease-in-out
  &:hover
    transition: .3s ease-in-out
    cursor: pointer

/*** Paralax Leaves ***/

.parallax-leaf
  z-index: 1

.select-leaf__top
  display: none
  @include media(1220px)
    width: 90px
    height: 90px
    display: block
    position: absolute
    top: 35%
    right: 32%
    background: url("../img/leaf.png") center no-repeat
    background-size: contain

.select-leaf__bottom
  display: none
  @include media(1220px)
    width: 90px
    height: 90px
    display: block
    position: absolute
    bottom: -5%
    right: 38%
    background: url("../img/leaf-2.png") center no-repeat
    background-size: contain

.questions-leaf__top
  display: none
  @include media(1220px)
    width: 90px
    height: 90px
    display: block
    position: absolute
    bottom: 5%
    right: 15%
    background: url("../img/leaf.png") center no-repeat
    background-size: contain

.questions-leaf__bottom
  display: none
  @include media(1220px)
    width: 90px
    height: 90px
    display: block
    position: absolute
    top: 28%
    right: 100%
    background: url("../img/question-leaf.png") center no-repeat
    background-size: contain


.sample-leaf__bottom
  display: none
  @include media(1220px)
    width: 90px
    height: 90px
    display: block
    position: absolute
    bottom: -25%
    left: 0%
    background: url("../img/leaf-2.png") center no-repeat
    background-size: contain

/*** Header === /.header === ***/  

.header
  width: 100%
  position: absolute
  z-index: 111111
  @include media(1220px)
    position: fixed
  &__nav-wrapper
    padding: 20px 10px
    display: flex
    align-items: center
    justify-content: space-between
    @include media(1300px)
      margin: 20px
      padding: 10px
      flex-direction: row
      background: $white
      border-radius: 80px
      //justify-content: flex-start
    @include media(1440px)
      padding: 10px 0
      flex-direction: row
      justify-content: center

  &__socials
    @include media(768px)
      padding: 0 0 0 20px
    @include media(1300px)
      display: none

  &__socials-icon
    margin: 0 20px 0 0
    @include media(768px)
      width: 30px
      height: 30px
    &:last-child
      margin: 0

  &__socials_active
    path
      fill: #000

  &__logo
    margin: 0 0 0 -20px
    @include media(768px)
      margin: 0 0 0 -70px
    @include media(1300px)
      margin: 0 0 0 15px
    @include media(1920px)
      margin: 0 30px 0 0

  &__logo-icon
    @include media(768px)
      width: 80px
      height: 80px
    @include media(1300px)
      width: 60px
      height: 55px
    @include media(1440px)
      width: 60px
      height: 60px

  &__nav-icon
    margin: 0 10px

  &__dropdown-menu
    display: none
    padding: 112px 0
    position: absolute
    width: 100%
    height: 100vh
    top: 0
    left: 0
    background: $white
    z-index: -1
    @include media(1300px)
      width: 100%
      display: block
      position: static
      height: auto
      padding: 0
      background: none

  &__dropdown_active
    display: block

  &__dropdown-list
    position: relative
    @include media(1300px)
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: flex-start
    &:after
      @include pseudo(45px, 45px)
      top: 30px
      left: 20px
      background: url("../img/leaf.png") center no-repeat
      background-size: cover
      @include media(1300px)
        display: none
    &:before
      @include pseudo(45px, 45px)
      bottom: 140px
      right: 35px
      background: url("../img/leaf.png") center no-repeat
      background-size: cover
      transform: scale(-1, 1)
      @include media(1300px)
        display: none

  &__action-wrapper
    display: block
    @include media(1300px)
      display: flex
      justify-content: center
      align-items: center
      flex-direction: row-reverse
      //width: 100%
    @include media(1440px)
      width: auto
      flex-direction: row-reverse
      justify-content: center

  &__dropdown-item
    position: relative
    @include media(1300px)
      margin: 0 14px
    @include media(1440px)
      margin: 0 15px
    @include media(1920px)
      margin: 0 30px

  &__dropdown-link
    display: block
    margin: 20px 0
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    font-weight: 800
    color: $black
    text-align: center
    @include media(1300px)
      font-size: px-to-rem(13px)
      &:hover
        &:after
          @include pseudo(100%, 2px)
          border-bottom: 2px dashed $color_green
    @include media(1920px)
      @include font(14px, 16px)

  &__dropdown-markit
    max-width: 320px
    display: flex
    justify-content: space-evenly
    align-items: center
    width: 90%
    margin: 50px auto 0 auto
    padding: 13px 25px
    border-radius: 30px
    border: 3px solid $color_green
    transition: .3s ease-in-out
    &:hover
      background: $color_green
      color: $white
      transition: .3s ease-in-out
      svg
        path
          fill: $white
          transition: .3s ease-in-out
      &:after
        display: none
    @include media(1300px)
      margin: 0 auto
      padding: 10px 20px
      max-width: 100%
      width: 230px
      border: 2px solid $color_green
      svg
        margin: 0 0 0 10px
        width: 20px
      &:hover
        border: 3px solid $color_green
    @include media(1440px)
      margin: 0
      width: 280px
      padding: 10px 10px
      @include font(16px, 21px)

  &__dropdown-customers
    max-width: 220px
    width: 70%
    margin: 20px auto
    padding: 13px
    border-radius: 30px
    background: $color_grey
    transition: .3s ease-in-out
    &:hover
      background: #F4FFC6
      transition: .3s ease-in-out
      &:after
        display: none
    @include media(1300px)
      max-width: 400px
      width: 120px
      margin: 0 auto
      &:hover
        border: none
    @include media(1440px)
      width: 160px

.nav__close
  display: none
  @include media(1300px)
    display: none

.nav__close_active
  display: block

.nav__burger
  @include media(1300px)
    display: none

@keyframes rotate
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)



/*** Main Screen === /.main-screen === ***/

.main-screen
  position: relative
  padding: 100px 35px 0 35px
  width: 100%
  background: url("../img/bck.jpg") center no-repeat
  font-family: $f_Roboto-Light
  overflow: hidden
  @include media(1440px)
    padding: 20px 180px 0 180px
  &:after
    @include media(1300px)
      @include pseudo(120px, 120px)
      background: url("../img/rotate-title.svg") center no-repeat
      background-size: contain
      top: 170px
      right: 200px
      animation: rotate 10s linear infinite
    @include media(1440px)
      @include pseudo(120px, 120px)
      background: url("../img/rotate-title.svg") center no-repeat
      background-size: contain
      top: 170px
      right: 360px
      animation: rotate 10s linear infinite
    @include media(1920px)
      @include pseudo(120px, 120px)
      background: url("../img/rotate-title.svg") center no-repeat
      background-size: contain
      top: 170px
      right: 430px
      animation: rotate 10s linear infinite
  &:before
    @include pseudo(50%, 100%)
    top: 90px
    right: -60px
    background: url("../img/main-screen-bottle-1.png") center no-repeat
    background-size: cover
    z-index: 0
    @include media(768px)
      top: 130px
      right: -140px
      background: url("../img/main-screen-garlic.png") center no-repeat
      background-size: contain
      transform: scale(1.3)
    @include media(1024px)
      right: -170px
    @include media(1220px)
      top: 17px
      right: -200px
    @include media(1440px)
      top: 130px
      background: url("../img/main-screen-desktop.png") center no-repeat
      background-size: contain
      right: -80px

  &__wrapper
    position: relative
    z-index: 1
    @include media(1300px)
      width: 850px
      margin: 0 auto
    @include media(1440px)
      width: 100%
      margin: 0

  &__header
    img
      width: 100%
      @include media(425px)
        width: 70%

  &__image-title
    margin: 0 0 0 -40px
    transform: scale(0.8)
    @include media(1024px)
      margin: 120px 0 0 0
      transform: scale(0.7)
    @include media(1300px)
      transform: scale(0.5)
      margin: -50px 0 0 -150px
    @include media(1440px)
      margin: 0 0 0 -150px
      transform: scale(0.4)

  &__image-logo
    margin: -20px 0 0 -40px
    transform: scale(0.9)
    filter: grayscale(50%)
    @include media(1024px)
      margin: -60px 0 0 -40px
      transform: scale(0.7)
    @include media(1300px)
      margin: -120px 0 0 -180px
      transform: scale(0.5)
    @include media(1440px)
      margin: -240px 0 0 -180px
      transform: scale(0.4)

  &__title
    display: none
    text-indent: -99999px

  &__subtitle
    padding: 0 0 50px 0
    @include font(20px, 24px)
    color: $white
    @include media(425px)
      @include font(36px, 40px)
    @include media(1300px)
      @include font(28px, 42px)
    @include media(1440px)
      margin: -50px 0 0 0
      padding: 0 0 0 190px
      @include font(44px, 50px)

  &__text
    max-width: 230px
    position: relative
    @include font(16px, 18px)
    font-weight: 700
    color: $color_green
    @include media(425px)
      max-width: 320px
      @include font(20px, 26px)
    @include media(1300px)
      max-width: 400px
    @include media(1440px)
      max-width: 500px
      padding: 40px 0 0 190px
    &:after
      @include pseudo(80px, 50px)
      top: -65px
      right: 0%
      background: url("../img/arrow-dashed.svg") center no-repeat
      @include media(425px)
        top: -100px
        right: -90px
        width: 150px
        height: 120px
        background-size: contain
        @include media(1440px)
          display: none

  &__action
    position: relative
    padding: 25px 0 0 0
    transition: all .3s ease-in-out
    @include media(1300px)
      padding: 0
      &:after
        @include pseudo(35px,35px)
        top: 20px
        left: 280px
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out
        @include media(1440px)
          top: 74px
      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 20px
          left: 280px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1
          @include media(1440px)
            top: 74px
      @include media(1440px)
        padding: 5px 0 0 0
        margin: 0 0 0 190px
    input
      display: block
      padding: 17px 30px
      margin: 0 auto
      @include font(16px, 18px)
      border-radius: 30px
      background: $color_green
      color: $white
      @include media(768px)
        margin: 50px 0 0 0
        @include font(21px, 41px)
        border-radius: 50px
  &__down
    padding: 45px 0 20px 0
    display: flex
    justify-content: center
    @include media(1300px)
      padding: 0 0 40px 0
    @include media(1440px)
      position: relative
      margin: 0 0 0 -200px
      padding: 18px 0 42px 0


/*** Benefits === /.benefits === ***/

.benefits
  position: relative
  background: url("../img/benefits-bck.png") no-repeat
  background-size: cover
  background-position-x: -700px
  @include media(425px)
    background-position-x: -300px
  @include media(1024px)
    background-position-x: 0
  @include media(1300px)
    padding: 40px 0 0 0
    overflow: hidden
    &:before
      @include pseudo(400px, 100%)
      background: url("../img/benefits-bottle-with-arrow.png") center no-repeat
      background-size: cover
      top: -80%
      z-index: 1
      left: 55%
      transform: translate(-50%, 95%) scale(0.75)
      @include media(1440px)
        transform: translate(-50%, 90%) scale(1.1)
  &:after
    @include pseudo(100%, 100%)
    top: 0
    background: rgba(0,0,0,0.6)
    z-index: 0

  &__title
    text-indent: -99999px

  &__header
    display: flex
    flex-direction: column
    @include media(425px)
      padding: 0 30px
    img
      padding: 0 40px 0 20px
      width: 70%
      @include media(425px)
        width: 40%
      @include media(1300px)
        width: 30%
        padding: 0px 40px 0 80px

  &__title-logo
    filter: grayscale(50%)
    @include media(425px)
      width: 40%

  &__wrapper
    position: relative
    z-index: 1

  &__content
    @include media(1024px)
      padding: 50px 100px
      display: flex
      flex-direction: row-reverse
      align-items: flex-start
    @include media(1300px)
      padding: 50px 100px 0 100px
    
  &__preview
    padding: 20px 30px 35px 30px
    display: flex
    align-items: center
    justify-content: space-between
    font-family: $f_Roboto-Regular
    @include font(16px, 20px)
    color: $white
    @include media(425px)
      max-width: 400px
      margin: 0 auto
    @include media(1300px)
      margin: -250px auto 0 230px
      flex-direction: column
      position: relative
    @include media(1920px)
      margin: -300px auto 0 400px
      flex-direction: column
      position: relative
      &:after
        @include pseudo(120px, 120px)
        top: 150px
        left: 0
        background: url("../img/arrow-dashed.svg") center no-repeat
        background-size: contain
        transform: scale(-1, -1)

  &__preview-img
    margin: 0 40px 0 0
    width: 100px
    border-radius: 50%
    border: 3px solid $white
    @include media(1024px)
      width: 200px
    @include media(1300px)
      display: block
      width: 200px

  &__preview-title
    @include media(1300px)
      display: none

  &__title-desktop
    display: none
    @include media(1300px)
      padding: 20px 0
      display: block
      font-family: $f_Roboto-Light
      @include font(20px, 26px)

  &__title-description
    display: none
    @include media(1300px)
      display: block
      padding: 50px 0 80px 0
      @include font(20px, 26px)

  &__inst-wrapper
    display: none
    @include media(1300px)
      box-sizing: border-box
      padding:  10px 20px 0 20px
      display: block
      background-image: repeating-linear-gradient(-2deg, $color_green, $color_green 19px, transparent 19px, transparent 26px, $color_green 26px), repeating-linear-gradient(88deg, $color_green, $color_green 19px, transparent 19px, transparent 26px, $color_green 26px), repeating-linear-gradient(178deg, $color_green, $color_green 19px, transparent 19px, transparent 26px, $color_green 26px), repeating-linear-gradient(268deg, $color_green, $color_green 19px, transparent 19px, transparent 26px, #ffffff 26px)
      background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
      background-position: 0 0, 0 0, 100% 0, 0 100%
      background-repeat: no-repeat

  &__inst
    display: block
    margin: 0 0 30px 0
    @include font(18px, 32px)
    @include media(1300px)
      @include font(14px, 22px)
    &:last-child
      margin: 0 0 10px 0

  &__action
    display: none
    position: relative
    @include media(1024px)
      padding: 20px 0
      display: block
      input
        display: block
        padding: 17px 30px
        margin: 0
        @include font(16px, 18px)
        border-radius: 30px
        background: #8DBD4F
        color: #FFFFFF
    @include media(1300px)
      &:after
        @include pseudo(35px,35px)
        top: 30px
        left: 300px
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out

      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 30px
          left: 300px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1
  &__list
    padding: 0 20px 50px 20px

  &__item
    max-width: 400px
    margin: 20px 0
    display: flex
    align-items: center
    justify-content: flex-start
    font-family: $f_Roboto-Light
    transition: .3s ease-in-out
    @include media(1300px)
      margin: 0
    svg
      path
        transition: .3s ease-in-out
    &:hover
      svg
        path
          fill: $color_green
          transform: scale(0.95)
          transition: .3s ease-in-out
    @include font(16px, 18px)
    color: $white
    @include media(1440px)
      width: 600px
      max-width: 600px
      svg
        width: 100px
        height: 100px

  &__item-text
    margin: 0 0 0 40px
    max-width: 170px
    @include media(425px)
      max-width: 250px
    @include media(1300px)
      max-width: 500px
      width: 500px
      margin: 0 40px 0 50px
      @include font(18px, 26px)


/*** About === /.about === ***/

.about
  position: relative
  padding: 10px 0 40px 0
  background: $color_milk
  @include media(1300px)
    background: url("../img/compare-desktop-bck.png") center no-repeat

  &__slider
    @include media(1220px)
      display: none
  
  &__slide-title
    text-indent: -99999px

  &__slide-title-img
    width: 80%
    display: block
    margin: 0 auto
    @include media(768px)
      padding: 0 0 40px 0
      width: 40%
      margin: 0 40px
    @include media(1440px)
      width: 30%
      margin: 0 0 0 100px

  &__slide-body
    padding: 42px 0
    @include media(550px)
      padding: 42px 60px
    @include media(768px)
      padding: 42px 100px

  &__slide-left
    @include media(768px)
      &:after
        @include pseudo(150px, 400px)
        bottom: 0
        left: 0
        background: url("../img/about-bck-pseudo-left.png") center no-repeat
        background-size: contain
        background-position: 0 20px

  &__slide-right
    @include media(768px)
      margin: 0 0 0 100px
      &:after
        @include pseudo(280px, 400px)
        top: 0
        right: 0
        background: url("../img/about-bck-pseudo-right.png") center no-repeat
        background-size: contain
        background-position: 0 20px
        z-index: 100

  &__slide-block
    padding: 0 30px
    font-family: $f_Roboto-Light
    @include media(425px)
      padding: 0 0 0 70px
    @include media(768px)
      padding: 0 0 50px 70px
    @include media(1220px)
      padding: 50px 0

  &__block-img
    width: 130px
    height: 62px
    @include media(768px)
      width: 230px
      height: 100px

  &__block-text
    margin: 20px 0
    max-width: 165px
    @include media(425px)
      max-width: 230px
    @include media(768px)
      max-width: 300px
      padding: 0 20px 0 30px
      @include font(26px, 32px)

  &__compare
    display: none
    @include media(1220px)
      display: flex
      justify-content: space-between
    @include media(1300px)
      transform: scale(0.85)
    @include media(1440px)
      transform: scale(1)
      justify-content: space-evenly

  &__compare-images
    position: relative
    @include media(1220px)
      &:after
        @include pseudo(250px, 150px)
        top: 0px
        left: -200px
        background: url("../img/compare-sprite.png") center no-repeat
        background-size: cover
        background-position-y: -155px
    @include media(1220px)
      &:before
        @include pseudo(250px, 150px)
        bottom: 20px
        right: -200px
        background: url("../img/compare-sprite.png") center no-repeat
        background-size: cover
        background-position-y: -0px

.swiper-pagination-bullet
  background: transparent
  border: 2px solid $color_green
  opacity: 1

.swiper-pagination-bullet-active
  background: $color_green

.slide__left
  position: relative
  overflow: hidden
  &:after
    @include pseudo(150px, 75%)
    top: 50px
    right: -76px
    background: url("../img/about-slide-bottle-1.png") center no-repeat
    background-size: contain
    @include media(768px)
      width: 200px
      height: 90%
      top: -30px
      right: -100px
  &:before
    @include pseudo(180px, 180px)
    bottom: -50px
    right: 10px
    background: url("../img/compare-sprite.png") center no-repeat
    background-size: cover
    background-position: 0px -110px
    @include media(768px)
      right: 50px
      transform: scale(1.5)

.slide__right
  position: relative
  overflow: hidden
  .about__slide-body
    padding: 50px 0 90px 95px
    .about__from
      transform: translate(0px, 50px)

  &:after
    @include pseudo(150px, 88%)
    top: 30px
    left: -75px
    background: url("../img/about-slide-bottle-2.png") center no-repeat
    background-size: cover
    @include media(768px)
      width: 250px
      height: 765px
      top: -50px
      left: -120px
  &:before
    @include pseudo(180px, 180px)
    top: -42px
    left: -10px
    background: url("../img/compare-sprite.png") center no-repeat
    background-size: cover
    background-position: 0px 70px
    @include media(768px)
      left: 60px
      transform: scale(1.5)

.ba-container
  width: 250px

.ba-slider
  position: relative
  overflow: hidden
  height: 750px
  img
    width: 98%
    display: block
    transform: scale(0.9) translate(0, -5%)

.resize
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 50%
  overflow: hidden
  background: #FDFBF7
  img
    transform: scaleX(0.84) scaleY(0.83) translate(-5px, -75px)


.draggable
  &:after
    width: 48px
    height: 48px
    margin: -24px 0 0 -24px
    line-height: 48px
    font-size: 30px

.handle
  position: absolute
  left: 50%
  top: 0
  bottom: 0
  width: 4px
  margin-left: -2px
  background: $color_green
  cursor: ew-resize
  &:after
    content: ''
    position: absolute
    top: 50%
    width: 23px
    height: 62px
    margin: -32px 0 0 -10px
    color: #008000
    border-radius: 10px
    transition: all 0.3s ease
    background: url("../img/compare-toggler.png") center no-repeat


/*** Select === /.select === ***/

.select
  position: relative

  &__title
    text-indent: -99999px

  &__img-title
    width: 100%
    filter: saturate(0.5)
    @include media(768px)
      width: 75%
      display: block
      margin: 0 auto
    @include media(1440px)
      margin: 0 0 0 -100px

  &__body
    @include media(1300px)
      padding: 0 50px
      display: flex
      justify-content: space-between

  &__list
    @include media(1300px)
      width: 100%
    @include media(1440px)
      width: 45%

  &__item
    padding: 20px
    @include media(768px)
      max-width: 100%

  &__text
    margin: 0 0 0 60px
    position: relative
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    color: $white
    @include media(768px)
      margin: 0 20px 0 100px
      @include font(30px, 40px)
    @include media(1300px)
      @include font(24px, 36px)
    &:before
      @include pseudo(37px, 37px)
      left: -55px
      background: url("../img/list-icon.png") center no-repeat
      background-size: contain
      @include media(768px)
        left: -90px
        width: 55px
        height: 55px

  &__mask
    padding: 20px 0
    position: relative
    @include media(768px)
      padding: 60px 0
    @include media(1300px)
      width: 100%
    @include media(1440px)
      margin: -100px 0 0 0
      width: 45%
    &:after
      @include pseudo(45px, 45px)
      top: 0
      left: 20px
      //background: url("../img/leaf.png") center no-repeat
      background-size: contain
      @include media(768px)
        transform: scale(1.6)
        top: 40px
        left: 100px
        @include media(1440px)
          top: -50px
          left: 350px
    &:before
      @include pseudo(45px, 45px)
      bottom: 0
      right: 20px
      //background: url("../img/leaf.png") center no-repeat
      background-size: contain
      transform: scale(-1,1)
      @include media(768px)
        transform: scale(1.6)
        bottom: 40px
        right: 100px
        @include media(1440px)
          bottom: 0px
          right: 0
          left: 200px
          //background: url("../img/leaf-2.png") center no-repeat
          background-size: contain

  &__img
    display: block
    margin: 0 auto
    width: 60%
    @include media(1300px)
      width: 80%
    @include media(1440px)
      width: 80%


/*** Driver === /driver === ***/

.driver
  @include media(1300px)
    position: relative
    overflow: hidden
    padding: 200px 0 100px 0
    &:after
      @include pseudo(350px, 100%)
      background: url("../img/driver-bottle-desktop.png") center no-repeat
      background-size: contain
      top: 500px
      right: -120px
      transform: rotate(12deg)
    &:before
      @include pseudo(350px, 100%)
      top: -200px
      background: url("../img/driver-bush.png") center no-repeat
      background-size: contain
  @include media(1440px)
    position: relative
    overflow: hidden
    padding: 200px 0 100px 0
    &:after
      @include pseudo(350px, 100%)
      background: url("../img/driver-bottle-desktop.png") center no-repeat
      background-size: contain
      top: 500px
      right: -90px
      transform: rotate(12deg)
    &:before
      @include pseudo(350px, 100%)
      top: -400px
      background: url("../img/driver-bush.png") center no-repeat
      background-size: contain

  &__title
    text-indent: -99999px

  &__title-img
    display: block
    margin: 0 auto
    width: 80%
    @include media(768px)
      width: 50%
      padding: 50px 0 0 0

  &__list
    padding: 40px 20px 20px 20px
    @include media(768px)
      padding: 60px
    @include media(1300px)
      display: flex
      flex-wrap: wrap
    @include media(1440px)
      display: flex
      flex-wrap: wrap

  &__item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transition: .3s ease-in-out
    svg
      path
        transition: .3s ease-in-out
        transform: scale(0.95)
    &:hover
      svg
        path
          fill: $color_green
          transform: scale(0.90)
          transition: .3s ease-in-out
    @include media(768px)
      margin: 0 0 70px 0
      flex-direction: row
      justify-content: center
    @include media(1300px)
      width: 40%
      margin: 50px 20px 50px 80px
      justify-content: space-between
      align-items: flex-start
    @include media(1440px)
      margin: 50px 20px 50px 80px
      justify-content: space-between
      align-items: flex-start
      width: 40%

  &__item-text
    margin: 20px 0 60px 0
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    color: $white
    text-align: center
    @include media(768px)
      margin: 0 0 0 30px
      width: 90%
      text-align: left
      @include font(27px, 32px)
    @include media(1300px)
      @include font(18px,26px)
    @include media(1440px)
      @include font(27px, 32px)

  &__bottom-title
    text-indent: -99999px

  &__bottom
    @include media(1300px)
      position: relative
      margin: 0 0 0 30px
      padding: 0 130px
      display: flex
      justify-content: flex-start
      align-items: flex-end
    @include media(1440px)
      position: relative
      margin: 0 0 0 100px
      padding: 0 100px
      display: flex
      justify-content: flex-start
      align-items: flex-end

  &__bottom-img
    display: block
    margin: 0 auto
    width: 80%
    @include media(768px)
      width: 60%
    @include media(1300px)
      width: 45%
    @include media(1440px)
      width: 30%
      margin: 0

  &__bottom-img-title
    @include media(1440px)
      margin: 0 100px 0 0
      width: 50%
      height: 20%


/*** Cooperation === /.cooperation === ***/

.cooperation
  padding: 0 0 40px 0
  position: relative
  background: url("../img/cooperation-bck.png") center no-repeat
  background-size: cover
  @include media(1220px)
    background: none
    overflow: hidden
  &:after
    @include pseudo(100%, 100%)
    top: 0
    background: rgba(0,0,0,0.6)
    z-index: 0

  &__video
    display: none
    @include media(1220px)
      position: absolute
      width: 100%
      display: block
      transform: translate(-50%, -50%) scale(2)
      left: 50%
      top: 50%
    @include media(1440px)
      transform: translate(0%, 0%) scale(1)
      left: 0%
      top: 0%


  &__title
    text-indent: -99999px

  &__title-img
    width: 100%
    position: relative
    z-index: 1
    filter: saturate(0.5)
    @include media(1440px)
      width: 60%
      display: block
      margin: 0 auto

  &__wrapper-blocks
    position: relative
    z-index: 1
    @include media(768px)
      display: flex
      flex-wrap: wrap
      justify-content: center
    @include media(1300px)
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-evenly
    @include media(1440px)
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-evenly

  &__block
    margin: 0 0 35px 0
    display: flex
    flex-direction: column
    align-items: center
    svg
      width: 137px
      height: 137px
    @include media(768px)
      margin: 0 0 40px 0
      width: 45%
    @include media(1300px)
      width: auto
    @include media(1440px)
      width: auto

  &__block-text
    margin: 25px 0 0 0
    font-family: $f_Roboto-Regular
    text-align: center
    color: $white

  &__action
    position: relative
    padding: 20px 0
    @include media(768px)
      padding: 40px 80px
    @include media(1024px)
      width: 45%
    @include media(1300px)
      display: block
      position: relative
      margin: 0 auto
      &:after
        @include pseudo(35px,35px)
        top: 48px
        left: 360px
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out

      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 48px
          left: 360px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1

    @include media(1440px)
      width: 100%
      &:after
        @include pseudo(35px,35px)
        top: 48px
        //left: 300px
        left: 55%
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out

      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 48px
          left: 55%
          //left: 300px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1
    input
      display: block
      padding: 17px 30px
      margin: 0 auto
      @include font(16px, 18px)
      border-radius: 30px
      background: #8DBD4F
      color: #FFFFFF


/*** Partners === /.partners === ***/

.partners
  padding: 25px 0
  @include media(768px)
    position: relative
    overflow: hidden
  @include media(1300px)
    padding: 25px
    background: url("../img/partners-bck.png") center no-repeat
    background-size: cover
  @include media(1440px)
    padding: 25px 0 100px 0
    background: url("../img/partners-bck.png") center no-repeat
  &:after
    //@include pseudo(200px, 100%)
    //top: 130px
    //right: -30px
    ////background: url("../img/chicken-bottle.png") center no-repeat
    //background-size: cover
    //transform: rotate(15deg) scale(1.2)
    @include media(1440px)
      display: none

  &__title
    text-indent: -99999px

  &__header
    @include media(768px)
      display: block
      position: relative
      &:after
        @include pseudo(150px, 150px)
        top: 70px
        right: 110px
        background: url("../img/simple-arrow.svg") center no-repeat
        background-size: contain
        @include media(1440px)
          right: 450px

  &__title-img
    display: block
    margin: 0 auto
    width: 90%
    @include media(768px)
      width: 50%
    @include media(1300px)
      width: 30%
    @include media(1440px)
      width: 30%

  &__body
    margin: 20px 0
    padding: 0 20px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @include media(768px)
      padding: 80px 80px 250px 80px
      justify-content: flex-start
    @include media(1300px)
      padding: 100px 80px 100px 80px
      justify-content: center
    @include media(1440px)
      padding: 180px 80px 120px 80px
      justify-content: center

  &__block
    width: 45%
    @include media(768px)
      width: 20%
      margin: 0 40px 0 0
    @include media(1300px)
      margin: 0 30px
      width: 10%
    @include media(1440px)
      margin: 0 30px
      width: 10%

  &__block-logo
    width: 100%
    @include media(1440px)
      width: 100%

  &__content
    display: none
    @include media(1300px)
      display: block

  &__content-title
    font-family: $f_Roboto-Regular
    @include font(34px, 39px)
    max-width: 500px
    text-align: center
    margin: 0 auto

  &__content-subtitle
    font-family: $f_Roboto-Regular
    @include font(26px, 32px)
    max-width: 700px
    text-align: center
    margin: 25px auto
    color: #7E7E7E


/*** Questions === /.questions === ***/

.questions
  position: relative
  padding: 20px 0 400px 0
  @include media(1300px)
    padding: 20px 0 150px 0
  @include media(1440px)
    padding: 20px 0 200px 0
  &:after
    @include pseudo(100%, 300px)
    background: url("../img/question-card.png") center no-repeat
    background-size: cover
    z-index: 0
    @include media(425px)
      height: 400px
    @include media(768px)
      bottom: -70px
      height: 550px
      right: -320px
    @include media(1024px)
      width: 90%
    @include media(1220px)
      width: 80%
      height: 600px
    @include media(1300px)
      top: 250px
      right: -150px
      transform: scale(0.7)
    @include media(1440px)
      background-size: contain
      top: 350px
      transform: scale(1.3)
  &:before
    @include media(768px)
      @include pseudo(80px, 80px)
      top: 42%
      right: 10%
      //background: url("../img/question-leaf.png") center no-repeat
      background-size: contain
    @include media(1300px)
      top: 25%
      left: 45%
    @include media(1440px)
      top: 25%
      left: 45%

  &__title
    text-indent: -99999px

  &__title-img
    margin: 0 auto
    display: block
    width: 90%
    @include media(768px)
      width: 80%
    @include media(1300px)
      display: block
      width: 50%
      margin: 100px 0 50px 120px
    @include media(1440px)
      display: block
      width: 50%
      margin: 100px 0 50px 120px

  &__subtitle
    margin: 10px 0 0 0
    padding: 15px 35px 0 40px
    font-family: $f_Roboto-Regular
    @include font(20px, 24px)
    font-weight: 400
    color: $white
    @include media(768px)
      padding: 60px 100px 0 140px
      @include font(44px, 50px)
    @include media(1300px)
      @include font(24px, 28px)
    @include media(1440px)
      padding: 60px 100px 0 140px
      @include font(44px, 50px)

  &__block-img
    display: block
    width: 85%
    margin: -10px auto 0 auto
    filter: saturate(0.7)
    @include media(768px)
      width: 60%
      margin: 0 0 0 120px
    @include media(1300px)
      width: 30%
    @include media(1440px)
      width: 30%

  &__block-text
    padding: 0 20px 0 40px
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    color: $color_green
    @include media(768px)
      margin: 0 0 0 100px
      max-width: 400px
      @include font(26px, 32px)
    @include media(1300px)
      margin: 0 0 0 100px
      max-width: 400px
      @include font(18px, 22px)
    @include media(1440px)
      margin: 0 0 0 100px
      max-width: 400px
      @include font(26px, 32px)

  &__action
    padding: 25px 0
    position: relative
    z-index: 1111
    @include media(1300px)
      &:after
        @include pseudo(35px,35px)
        top: 83px
        left: 400px
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out
        @include media(1440px)
          top: 62px
          left: 212px
      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 83px
          left: 400px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1
          @include media(1440px)
            top: 62px
            left: 212px
      @include media(1440px)
        padding: 5px 0 0 0
        margin: 0 0 0 190px

    @include media(1440px)
      &:before
        @include pseudo(70px, 70px)
        background: url("../img/leaf.png") center no-repeat
        background-size: contain
        right: 30%
        bottom: 20%
    input
      display: block
      padding: 17px 30px
      margin: 0 auto
      @include font(16px, 18px)
      border-radius: 30px
      background: #8DBD4F
      color: #FFFFFF
      @include media(768px)
        margin: 40px 0 0 140px
        @include font(26px, 56px)
        border-radius: 50px
      @include media(1300px)
        margin: 40px 80px 0 130px
        @include font(18px, 37px)
      @include media(1440px)
        margin: 40px 80px 0 -60px


/*** Sample === /.sample === ***/

.sample
  position: relative
  padding: 20px 0 300px 0
  @include media(768px)
    padding: 20px 0 550px 0
  @include media(1300px)
    margin: 0 0 250px 0
  @include media(1440px)
    margin: 0 0 250px 0
  &:after
    @include pseudo(100%, 400px)
    background: url("../img/sample-bottles.png") center no-repeat
    background-size: contain
    @include media(768px)
      bottom: -40px
      transform: scale(1.8)
      @include media(1300px)
        background: url("../img/sample-desktop-image.png") center no-repeat
        background-size: contain
        top: 15%
        left: -20%
        transform: scale(1.4)
      @include media(1440px)
        background: url("../img/sample-desktop-image.png") center no-repeat
        background-size: contain
        top: 25%
        left: -23%
        transform: scale(1.8)
      @include media(1920px)
        background: url("../img/sample-desktop-image.png") center no-repeat
        background-size: contain
        top: 25%
        left: -20%
        transform: scale(1.8)

  &__wrapper
    @include media(1300px)
      float: right
      margin: 0 -100px 0 -100px
      position: relative
      z-index: 111


  &__header
    @include media(768px)
      padding: 50px 70px

  &__header-text
    padding: 0 0 0 30px
    font-family: $f_Roboto-Regular
    @include font(20px, 24px)
    font-weight: 400
    color: $white
    @include media(768px)
      @include font(44px, 42px)
    @include media(1300px)
      @include font(24px, 36px)
    @include media(1440px)
      @include font(44px, 42px)

  &__title-img
    margin: 0 0 0 10px
    width: 90%
    filter: saturate(0.7)
    @include media(768px)
      width: 50%
    @include media(1440px)
      width: 50%

  &__body-text
    padding: 20px 20px 0 30px
    @include font(16px, 20px)
    font-family: $f_Roboto-Light
    color: $color_green
    @include media(768px)
      margin: 0 0 0 70px
      max-width: 500px
      @include font(26px, 32px)
    @include media(1300px)
      margin: 0 0 0 70px
      max-width: 380px
      @include font(18px, 26px)
    @include media(1440px)
      margin: 0 0 0 70px
      max-width: 500px
      @include font(26px, 32px)

  &__action
    padding: 20px 0
    position: relative
    @include media(1300px)
      &:after
        @include pseudo(35px,35px)
        top: 76px
        left: 320px
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out
        @include media(1440px)
          top: 78px
          left: 312px
      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 76px
          left: 312px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1
          @include media(1440px)
            top: 78px
            left: 312px

    input
      display: block
      padding: 17px 30px
      margin: 0 auto
      @include font(16px, 18px)
      border-radius: 30px
      background: #8DBD4F
      color: #FFFFFF
      @include media(768px)
        margin: 40px 0 0 70px
        @include font(26px, 37px)
        border-radius: 50px
        @include media(1300px)
          margin: 40px 20px 0 100px
          @include font(18px, 37px)
        @include media(1440px)
          margin: 40px 20px 0 90px


/*** Footer === /.footer === ***/

.footer
  position: relative
  padding: 20px 0 100px 0
  background: $color_green
  @include media(768px)
    padding: 20px 0
  @include media(1300px)
    padding: 60px 0
  @include media(1440px)
    padding: 60px 0 150px 0

  &:after
    @include pseudo(50px,50px)
    bottom: 65px
    left: 50%
    transform: translate(-50%, 50%) rotate(-10deg)
    background: url("../img/leaf.png") center no-repeat
    background-size: contain
    @include media(768px)
      width: 70px
      height: 70px
      top: 80px
      left: 78%
      transform: translate(0)
    @include media(1300px)
      display: none
    @include media(1440px)
      display: none
  &:before
    @include media(768px)
      @include pseudo(70px, 70px)
      background: url("../img/leaf.png") center no-repeat
      background-size: contain
      top: 65%
      left: 75%
      transform: scale(-1, 1)
    @include media(1300px)
      width: 80px
      height: 80px
      top: 160px
      right: 0px
      left: 55%
      background: url("../img/question-leaf.png") center no-repeat
      background-size: contain
      transform: scale(1, 1)
    @include media(1440px)
      width: 120px
      height: 120px
      top: 160px
      right: 0px
      left: 48%
      background: url("../img/question-leaf.png") center no-repeat
      background-size: contain
      transform: scale(1, 1)

  &__wrapper
    max-width: 600px
    @include media(768px)
      padding: 0 60px
    @include media(1300px)
      max-width: 100%
    @include media(1440px)
      max-width: 100%

  &__title
    text-indent: -99999px

  &__title-img
    display: block
    margin: 0 auto
    width: 70%
    @include media(1300px)
      width: 30%
      margin: 0
    @include media(1440px)
      width: 30%
      margin: 0

  &__body
    padding: 20px 20px 40px 20px
    font-family: $f_Roboto-Regular
    @include media(768px)
      padding: 40px 80px 40px 60px
    @include media(1300px)
      padding: 60px 0
      display: flex
      align-items: flex-end
      justify-content: flex-start
    @include media(1440px)
      padding: 60px 0
      display: flex
      align-items: flex-end
      justify-content: flex-start

  &__content-wrapper
    @include media(1300px)
      max-width: 400px
    @include media(1440px)
      max-width: 400px
      
  &__address-text
    @include font(16px, 18px)
    color: $white
    @include media(768px)
      @include font(20px, 24px)
    @include media(1300px)
      @include font(18px, 23px)
    @include media(1440px)
      @include font(20px, 24px)

  &__tel
    padding: 0 0 30px 0
    @include media(1300px)
      padding: 30px 0 0 0
      @include font(32px, 34px)
    @include media(1440px)
      padding: 30px 0 0 0

  &__tel-number
    padding: 20px 0 10px 0
    @include font(26px, 30px)
    color: $white
    @include media(768px)
      @include font(36px, 38px)

  &__tel-text
    @include font(16px, 20px)
    color: $white
    @include media(768px)
      @include font(20px, 24px)

  &__email
    padding: 20px
    background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(88deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(178deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(268deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat
    @include media(1300px)
      margin: 0 20px 0 0px
    @include media(1440px)
      margin: 0 20px 0 120px

  &__email-text
    @include font(16px, 20px)
    color: $white
    @include media(1300px)
      @include font(18px, 23px)
    @include media(1440px)
      @include font(26px, 34px)

  &__email-link
    display: block
    margin: 10px 0 0 0
    @include font(26px, 30px)
    color: $white
    font-weight: 800
    @include media(768px)
      @include font(36px, 38px)
    @include media(1300px)
      @include font(30px, 32px)
    @include media(1440px)
      @include font(36px, 38px)
  &__thumb
    display: none
    @include media(1300px)
      display: block

  &__image
    @include media(1300px)
      position: absolute
      top: 100px
      right: 60px
      width: 400px
      height: 350px
    @include media(1440px)
      position: absolute
      top: 80px
      right: 80px
      width: 350px
      height: 300px
    @include media(1920px)
      position: absolute
      top: 80px
      right: 180px
      width: 600px
      height: 500px


/*** Modal === /.modal-window === ***/

.modal
  position: fixed
  width: 100%
  height: 100%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%) scale(0)
  opacity: 0
  transition: 200ms ease-in-out
  background-color: $color_green
  z-index: 111111
  @include media(1024px)
    width: 90%
    height: 610px
    border-radius: 20px
  @include media(1220px)
    width: 70%
    height: 690px
  &.active
    transform: translate(-50%, -50%) scale(1)
    opacity: 1
  svg
    width: 25px
    height: 25px
    margin: 10px
    position: relative
    top: 20px

.modal-header
  padding: 10px 15px
  display: flex
  justify-content: flex-end
  align-items: center
  svg
    cursor: pointer
    &:hover
      path
        opacity: 1
  .title
    font-size: 1.2em
    font-weight: 700
  .close-button
    background: transparent
    border: none
    outline: unset
    font-size: 2em
    cursor: pointer


.modal-body
  padding: 10px
  text-align: justify
  @include media(768px)
    max-width: 650px
    margin: 0 auto
  @include media(1220px)
    position: relative
    max-width: 900px
    margin: 0 auto
    &:after
      @include pseudo(90px, 90px)
      bottom: 0%
      left: 2%
      background: url("../img/question-leaf.png") center no-repeat
      background-size: contain

    &:before
      @include pseudo(90px, 90px)
      top: 30%
      right: -15%
      background: url("../img/leaf.png") center no-repeat
      background-size: contain
      @include media(1220px)
        right: 2%
  &__title-text
    display: none
    text-indent: -99999px

  &__title
    width: 100%
    @include media(1300px)
      width: 70%
      display: block
      margin: 0 auto

  &__subtitle
    padding: 25px 0
    @include font(16px, 20px)
    font-family: $f_Roboto-Regular
    color: $white
    text-align: center
    @include media(1220px)
      margin: 0 auto
      max-width: 700px
      @include font(30px, 38px)

  &__inputs-wrapper
    @include media(1220px)
      max-width: 600px
      margin: 0 auto

  &__input-block
    label
      font-family: $f_Roboto-Light
      color: $color_grey
      opacity: 0.6

  &__submit
    display: block
    padding: 14px 20px
    margin: 30px auto 0 auto
    @include font(18px, 23px)
    background: $white
    color: $black
    font-weight: 600
    border-radius: 30px
    transition: .3s ease-in-out
    cursor: pointer
    &:hover
      transition: .3s ease-in-out
      background: #F4FFC6

  &__input
    padding: 2px 5px
    width: 100%
    background: none
    outline: none
    border-bottom: 2px solid $white
    color: $white

  &__server-error
    max-width: 400px
    margin: 10px auto
    padding: 10px 0
    display: none
    text-align: center
    font-size: px-to-rem(16px)
    color: #f00
    font-family: 'Roboto-Regular'
    background-image: repeating-linear-gradient(-2deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(88deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(178deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(268deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat

  &__server-error_active
    display: block

#overlay
  background-color: rgba(0, 0, 0, 0.8)
  opacity: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  transition: 200ms ease-in-out
  z-index: 11111

  &.active
    opacity: 1
    pointer-events: all

.form-control
  margin-bottom: 10px
  padding-bottom: 20px
  position: relative
  label
    display: inline-block
    margin-bottom: 5px
  input
    display: block
    font-family: $f_Roboto-Regular
    font-size: px-to-rem(20px)

  &.success
    label
      font-family: $f_Roboto-Light
      color: $color_grey
      opacity: 0.6
    input
      width: 100%
      padding: 2px 0
      color: $white
      font-size: px-to-rem(18px)
      line-height: px-to-rem(21px)
      background: none
      border-bottom: 2px solid $white
      outline: none

  &.error
    @include media(1024px)
      &:after
        @include pseudo(50px,50px)
        top: 17px
        right: -48px
        background: url("../img/error-icon.svg") center no-repeat
    label
      color: $color_rose
    input
      width: 100%
      padding: 2px 0
      color: $white
      font-size: px-to-rem(18px)
      line-height: px-to-rem(21px)
      background: none
      border-bottom: 2px solid $color_rose
      outline: none

#form div.success
  padding: 10px
  text-align: center
  font-size: 38px
  color: white
  font-family: 'Roboto-Regular'
  background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(88deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(178deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(268deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px)
  background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
  background-position: 0 0, 0 0, 100% 0, 0 100%
  background-repeat: no-repeat
  @include media(1300px)
    text-align: center
    font-size: 60px
    color: white
    font-family: 'Roboto-Regular'
    background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(88deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(178deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(268deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat